<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col text-center">
                <h1>All the Users</h1>
            </div>
        </div>

        <div class="row text-center">
            <div class="col">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Age</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{user1.id}}</th>
                            <td>{{user1.first_name}} {{user1.last_name}}</td>
                            <td>{{user1.email_address}}</td>
                            <td>{{user1.age}}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{user2.id}}</th>
                            <td>{{user2.first_name}} {{user2.last_name}}</td>
                            <td>{{user2.email_address}}</td>
                            <td>{{user2.age}}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{user3.id}}</th>
                            <td>{{user3.first_name}} {{user3.last_name}}</td>
                            <td>{{user3.email_address}}</td>
                            <td>{{user3.age}}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{user5.id}}</th>
                            <td>{{user5.first_name}} {{user5.last_name}}</td>
                            <td>{{user5.email_address}}</td>
                            <td>{{user5.age}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col text-center">
                <h1>Add a User</h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="/process" method="POST">
                    {% csrf_token %}
                    <div class="col">
                        <div class="form-group row align-items-start">
                            <label class="col-2 col-form-label" for="first_name">First Name:</label>
                            <div class="col-4">
                                <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name">
                            </div>
                            <label class="col-2 col-form-label" for="last_name">Last Name:</label>
                            <div class="col-4">
                                <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group row align-items-start">
                            <label class="col-2 col-form-label" for="email_address">Email:</label>
                            <div class="col-4">
                                <input type="email" name="email_address" id="input_email" class="form-control" placeholder="Email">
                            </div>
                            <label class="col-2 col-form-label" for="age">Age:</label>
                            <div class="col-4">
                                <input type="text" name="age" id="age" class="form-control" placeholder="Age">
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>